.d-leftSlider{
    position: relative;
    overflow: hidden;
}
.d-leftSlider movable-area{
    position: absolute;
    top: 0;
    right: 0;
}

.d-leftSlider movable-area .sub{
    position: absolute;
    top: 0;
    right: 0;
}