.d-modal {
    .content {
        width: 600rpx;
        background: #fff;
        border-radius: 20rpx;
        word-break: break-all;

        .title {
            padding: 40rpx;
            text-align: center;
            color: #000;
            font-size: 32rpx;

        }

        .content-text {
            text-align: center;
            color: #333;
            font-size: 28rpx;
            padding: 0 40rpx 40rpx;
        }

        .footer {
            height: 96rpx;
            display: flex;
            align-items: center;

            .line {
                width: 1px;
                height: 40rpx;
                background: rgba(0, 0, 0, 0.05);
            }

            .item {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: var(--dayi-color_green);
                font-size: 28rpx;
            }


        }
    }
}

.view-hover-class {
    font-weight: bolder;
}