.d-popupMenu {
    .mask {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0
    }

    .content {
        box-sizing: border-box;
        position: fixed;
        background-color: #fff;
        border-radius: 4rpx;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .3);
        opacity: 0;
    }
}